<html>

 <head>
  <meta charset="utf-8" />
 <title>Invaders</title>
 </head>
 <body>

<div class="formTab">

<h3>New Highscore!</h3>

<%= form_for(@score, remote: true) do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name, {:maxlength => 12, :value => "Anonymous"} %>
  <%= f.number_field :highscore %>
  <%= f.submit "Create" %>
<% end %>

</div>

 </body>
</html>