<!DOCTYPE html>
<html>
<head>
  <title>SpaceRaceUsers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <div class="scoreList">
    <% @scores.each do |s| %>
    <p><%=s.name %>: <%= s.highscore %></p>
    <% end %>
</div>
<%= yield %>

</body>
</html>
